package librarypages

import "practicebetter/internal/components"

templ Dashboard() {
	@components.HeroLayout(components.TwoButtonBar(components.BackHomeLink() , components.AccountLink())) {
		<div>Not Implemented Yet</div>
	}
}
