package librarypages

templ PracticeSpotDisplay(spotJSON string, pieceid string, pieceTitle string) {
	<practice-spot-display class="w-full" spotjson={ spotJSON } pieceid={ pieceid } piece-title={ pieceTitle }></practice-spot-display>
}
