@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* work-sans-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    src:
      url("/work-sans-v19-latin-regular.woff2") format("woff2"),
      /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
        url("/work-sans-v19-latin-regular.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
  }

  /* work-sans-italic - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Work Sans";
    font-style: italic;
    font-weight: 400;
    src:
      url("/work-sans-v19-latin-italic.woff2") format("woff2"),
      /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
        url("/work-sans-v19-latin-italic.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
  }
  /* work-sans-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 500;
    src:
      url("/work-sans-v19-latin-500.woff2") format("woff2"),
      /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
        url("/work-sans-v19-latin-500.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
  }
  /* work-sans-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 600;
    src:
      url("/work-sans-v19-latin-600.woff2") format("woff2"),
      /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
        url("/work-sans-v19-latin-600.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
  }
  /* work-sans-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 700;
    src:
      url("/work-sans-v19-latin-700.woff2") format("woff2"),
      /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
        url("/work-sans-v19-latin-700.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
  }
  /* work-sans-800 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 800;
    src:
      url("/work-sans-v19-latin-800.woff2") format("woff2"),
      /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
        url("/work-sans-v19-latin-800.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
  }
  /* work-sans-900 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 900;
    src:
      url("/work-sans-v19-latin-900.woff2") format("woff2"),
      /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
        url("/work-sans-v19-latin-900.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
  }

  .font-work-sans {
    font-family: "Work Sans", sans-serif;
  }

  details summary::-webkit-details-marker {
    display: none;
  }

  html {
    overscroll-behavior-y: none;
    scrollbar-gutter: stable;
  }

  body {
    overscroll-behavior: none;
    height: 100%;
    width: 100%;
    overflow: auto;
    scrollbar-gutter: stable;
  }

  dialog {
    pointer-events: none;
    opacity: 0;
    overflow: hidden;
    transition-property: transform, opacity;
    @apply h-0 w-0 translate-y-4 rounded-xl duration-150 ease-out;
  }

  dialog:focus {
    outline: none;
  }

  dialog[open] {
    opacity: 1;
    width: calc(100vw - 1rem);
    max-height: calc(100svh - 4.5rem);
    display: flex;
    position: fixed;
    bottom: 0;
    margin-bottom: 3.5rem;
    pointer-events: inherit;
    overflow-y: auto;
    transition-property: transform, opacity;
    @apply h-max translate-y-0 scale-100 shadow-2xl shadow-white/20 duration-150;
  }

  dialog[open]::backdrop {
    animation: backdrop-fade 250ms ease forwards;
    height: 100dvh;
    width: 100vw;
    @apply bg-neutral-800/70 backdrop-blur-sm;
  }

  dialog[open].close::backdrop {
    animation: backdrop-fade 150ms ease backwards;
    animation-direction: reverse;
  }

  dialog[open].close {
    transition-property: transform, opacity;
    @apply translate-y-4 scale-100 opacity-0;
  }
  dialog::backdrop {
    @apply bg-neutral-800/70 opacity-0;
  }

  @keyframes backdrop-fade {
    from {
      @apply opacity-0;
    }
    to {
      @apply opacity-100;
    }
  }

  @media screen(sm) {
    dialog {
      overflow: hidden;
      transition-property: transform, opacity;
      @apply translate-y-0 scale-95 duration-150;
    }

    dialog[open] {
      width: fit-content;
      overflow: visible;
      margin-block: auto;
      margin-inline: auto;
      overflow-y: auto;
      transition-property: transform, opacity;
      @apply h-max translate-y-0 scale-100 duration-150;
    }

    dialog[open].close {
      transition-property: transform, opacity;
      @apply translate-y-0 scale-95 opacity-0;
    }
  }

  details[open] summary > .summary-icon {
    @apply rotate-90 transform;
  }

  progress[value] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background: var(--progress-background);
    border-top-left-radius: var(--progress-border-top-left-radius);
    border-top-right-radius: var(--progress-border-top-right-radius);
    border-bottom-right-radius: var(--progress-border-bottom-right-radius);
    border-bottom-left-radius: var(--progress-border-bottom-left-radius);
    @apply h-1;
  }

  progress[value]::-webkit-progress-bar {
    background: var(--progress-background);
    border-top-left-radius: var(--progress-border-top-left-radius);
    border-top-right-radius: var(--progress-border-top-right-radius);
    border-bottom-right-radius: var(--progress-border-bottom-right-radius);
    border-bottom-left-radius: var(--progress-border-bottom-left-radius);
    @apply h-1;
  }
  progress[value]::-webkit-progress-value {
    background: var(--progress-color);
    border-top-left-radius: var(--progress-border-top-left-radius);
    border-top-right-radius: var(--progress-border-top-right-radius);
    border-bottom-right-radius: var(--progress-border-bottom-right-radius);
    border-bottom-left-radius: var(--progress-border-bottom-left-radius);
    @apply h-1;
  }
  progress[value]::-moz-progress-bar {
    background: var(--progress-color);
    border-top-left-radius: var(--progress-border-top-left-radius);
    border-top-right-radius: var(--progress-border-top-right-radius);
    border-bottom-right-radius: var(--progress-border-bottom-right-radius);
    border-bottom-left-radius: var(--progress-border-bottom-left-radius);
    @apply h-1;
  }
  ::-webkit-progress-value {
    transition: width 50ms;
  }
  ::-moz-progress-value {
    transition: width 50ms;
  }
}

@layer components {
  .custom-select {
    appearance: none;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23262626"><path fill-rule="evenodd" d="M12.53 16.28a.75.75 0 01-1.06 0l-7.5-7.5a.75.75 0 011.06-1.06L12 14.69l6.97-6.97a.75.75 0 111.06 1.06l-7.5 7.5z" clip-rule="evenodd" /></svg>');
    background-repeat: no-repeat;
    background-position: right 0.7rem top 50%;
    background-size: 1rem auto;
    -webkit-appearance: "none";
    text-indent: 1;
    text-overflow: "";
  }

  .edit-plan-chooser {
    max-height: calc(75svh - 10rem);
  }
  .radio-option.checked {
    @apply bg-neutral-700/20 shadow;
  }

  .radio-option.checked > .icon {
    @apply visible;
  }

  .radio-option.checked > .radio-border {
    @apply border-neutral-800;
  }

  .radio-option > .radio-border {
    @apply border-transparent;
  }

  .radio-option > .icon {
    @apply invisible;
  }

  .radio-option {
    @apply bg-neutral-700/10 transition-all duration-100;
  }

  .poor-radio-option.checked,
  .poor-radio-option:hover {
    @apply bg-red-500/50 shadow;
  }

  .poor-radio-option.checked > .icon {
    @apply visible;
  }

  .poor-radio-option.checked > .radio-border {
    @apply border-red-800;
  }

  .poor-radio-option > .radio-border {
    @apply border-transparent;
  }

  .poor-radio-option > .icon {
    @apply invisible;
  }

  .poor-radio-option {
    @apply bg-red-500/30 transition-all duration-100;
  }

  .fine-radio-option.checked,
  .fine-radio-option:hover {
    @apply bg-sky-500/50;
  }

  .fine-radio-option.checked > .icon {
    @apply visible;
  }

  .fine-radio-option.checked > .radio-border {
    @apply border-sky-800;
  }

  .fine-radio-option > .radio-border {
    @apply border-transparent;
  }

  .fine-radio-option > .icon {
    @apply invisible;
  }

  .fine-radio-option {
    @apply bg-sky-500/30 transition-all duration-100;
  }

  .excellent-radio-option.checked,
  .excellent-radio-option:hover {
    @apply bg-green-500/50;
  }

  .excellent-radio-option.checked > .icon {
    @apply visible;
  }

  .excellent-radio-option.checked > .radio-border {
    @apply border-green-800;
  }

  .excellent-radio-option > .radio-border {
    @apply border-transparent;
  }

  .excellent-radio-option > .icon {
    @apply invisible;
  }

  .excellent-radio-option {
    @apply bg-green-500/30 transition-all duration-100;
  }

  .practice-radio-option.checked {
    @apply border-neutral-800 shadow shadow-neutral-400;
  }

  .practice-radio-option.checked > .icon {
    @apply opacity-100;
  }

  .practice-radio-option.checked > .radio-border {
    @apply border-black;
  }

  .practice-radio-option > .icon {
    @apply opacity-0 transition-all duration-75;
  }

  .practice-radio-option {
    @apply flex items-center rounded-xl border-2 border-neutral-300 bg-white py-3 pl-4 pr-2 shadow-sm shadow-neutral-300 transition-all duration-100;
  }

  .check-option.checked {
    @apply bg-neutral-700/20 shadow;
  }

  .check-option.checked > .icon {
    @apply visible;
  }

  .check-option.checked > .radio-border {
    @apply border-neutral-800;
  }

  .check-option > .radio-border {
    @apply border-transparent;
  }

  .check-option > .icon {
    @apply invisible;
  }

  .check-option {
    @apply bg-neutral-700/10 transition-all duration-100;
  }

  .piece-checkbox.checked {
    @apply border-indigo-800 shadow-indigo-400;
  }

  .piece-checkbox.checked > .icon {
    @apply opacity-100;
  }

  .piece-checkbox.checked > .radio-border {
    @apply border-indigo-800;
  }

  .piece-checkbox > .icon {
    @apply opacity-0 transition-all duration-75;
  }

  .piece-checkbox {
    @apply flex items-center gap-1 rounded-xl border-2 border-neutral-300 bg-neutral-50 px-4 py-4 text-black shadow-sm shadow-black/20 transition-all duration-100;
  }

  .basic-field {
    @apply cursor-auto rounded-xl border border-neutral-400 bg-white px-4 py-2 font-medium shadow-sm shadow-neutral-900/30 transition duration-200;
  }

  .basic-field::placeholder {
    @apply font-thin text-neutral-400;
  }

  .basic-field:disabled {
    @apply border-neutral-100 bg-neutral-100 text-neutral-400;
  }

  .basic-field:focus {
    @apply border-neutral-500 shadow shadow-neutral-900/50 outline outline-1 outline-offset-0 outline-neutral-500;
  }

  .basic-field:focus::placeholder {
    @apply text-transparent;
  }

  .action-button,
  input::file-selector-button {
    @apply flex h-12 cursor-pointer items-center justify-center gap-1 rounded-xl border px-5 text-lg font-medium shadow-sm transition duration-200;
  }

  .action-button:hover input::file-selector-button:hover {
    @apply shadow;
  }

  .action-button.slate,
  input.slate::file-selector-button {
    @apply border-slate-400 bg-slate-200 text-slate-800 shadow-slate-900/30;
  }

  .action-button.slate:hover,
  input.slate::file-selector-button:hover {
    @apply border-slate-500 bg-slate-300 shadow-slate-900/50;
  }

  .action-button.gray,
  input.gray::file-selector-button {
    @apply border-gray-400 bg-gray-200 text-gray-800 shadow-gray-900/30;
  }

  .action-button.gray:hover,
  input.gray::file-selector-button:hover {
    @apply border-gray-500 bg-gray-300 shadow-gray-900/50;
  }

  .action-button.zinc,
  input.zinc::file-selector-button {
    @apply border-zinc-400 bg-zinc-200 text-zinc-800 shadow-zinc-900/30;
  }

  .action-button.zinc:hover,
  input.zinc::file-selector-button:hover {
    @apply border-zinc-500 bg-zinc-300 shadow-zinc-900/50;
  }

  .action-button.neutral,
  input.neutral::file-selector-button {
    @apply border-neutral-400 bg-neutral-200 text-neutral-800 shadow-neutral-900/30;
  }

  .action-button.neutral:hover,
  input.neutral::file-selector-button:hover {
    @apply border-neutral-500 bg-neutral-300 shadow-neutral-900/50;
  }

  .action-button.stone,
  input.stone::file-selector-button {
    @apply border-stone-400 bg-slate-200 text-slate-800 shadow-slate-900/30;
  }

  .action-button.stone:hover,
  input.stone::file-selector-button:hover {
    @apply border-stone-500 bg-slate-300 shadow-slate-900/50;
  }

  .action-button.red,
  input.red::file-selector-button {
    @apply border-red-400 bg-red-200 text-red-800 shadow-red-900/30;
  }

  .action-button.red:hover,
  input.red::file-selector-button:hover {
    @apply border-red-500 bg-red-300 shadow-red-900/50;
  }

  .action-button.orange,
  input.orange::file-selector-button {
    @apply border-orange-400 bg-orange-200 text-orange-800 shadow-orange-900/30;
  }

  .action-button.orange:hover,
  input.orange::file-selector-button:hover {
    @apply border-orange-500 bg-orange-300 shadow-orange-900/50;
  }

  .action-button.amber,
  input.amber::file-selector-button {
    @apply border-amber-400 bg-amber-200 text-amber-800 shadow-amber-900/30;
  }

  .action-button.amber:hover,
  input.amber::file-selector-button:hover {
    @apply border-amber-500 bg-amber-300 shadow-amber-900/50;
  }

  .action-button.yellow,
  input.yellow::file-selector-button {
    @apply border-yellow-400 bg-yellow-200 text-yellow-800 shadow-yellow-900/30;
  }

  .action-button.yellow:hover,
  input.yellow::file-selector-button:hover {
    @apply border-yellow-500 bg-yellow-300 shadow-yellow-900/50;
  }

  .action-button.lime,
  input.lime::file-selector-button {
    @apply border-lime-400 bg-lime-200 text-lime-800 shadow-lime-900/30;
  }

  .action-button.lime:hover,
  input.lime::file-selector-button:hover {
    @apply border-lime-500 bg-lime-300 shadow-lime-900/50;
  }

  .action-button.green,
  input.green::file-selector-button {
    @apply border-green-400 bg-green-200 text-green-800 shadow-green-900/30;
  }

  .action-button.green:hover,
  input.green::file-selector-button:hover {
    @apply border-green-500 bg-green-300 shadow-green-900/50;
  }

  .action-button.emerald,
  input.emerald::file-selector-button {
    @apply border-emerald-400 bg-slate-200 text-slate-800 shadow-slate-900/30;
  }

  .action-button.emerald:hover,
  input.emerald::file-selector-button:hover {
    @apply border-emerald-500 bg-slate-300 shadow-slate-900/50;
  }

  .action-button.teal,
  input.teal::file-selector-button {
    @apply border-teal-400 bg-teal-200 text-teal-800 shadow-teal-900/30;
  }

  .action-button.teal:hover,
  input.teal::file-selector-button:hover {
    @apply border-teal-500 bg-teal-300 shadow-teal-900/50;
  }

  .action-button.cyan,
  input.cyan::file-selector-button {
    @apply border-cyan-400 bg-cyan-200 text-cyan-800 shadow-cyan-900/30;
  }

  .action-button.cyan:hover,
  input.cyan::file-selector-button:hover {
    @apply border-cyan-500 bg-cyan-300 shadow-cyan-900/50;
  }

  .action-button.sky,
  input.sky::file-selector-button {
    @apply border-sky-400 bg-sky-200 text-sky-800 shadow-sky-900/30;
  }

  .action-button.sky:hover,
  input.sky::file-selector-button:hover {
    @apply border-sky-500 bg-sky-300 shadow-sky-900/50;
  }

  .action-button.blue,
  input.blue::file-selector-button {
    @apply border-blue-400 bg-blue-200 text-blue-800 shadow-blue-900/30;
  }

  .action-button.blue:hover,
  input.blue::file-selector-button:hover {
    @apply border-blue-500 bg-blue-300 shadow-blue-900/50;
  }

  .action-button.indigo,
  input.indigo::file-selector-button {
    @apply border-indigo-400 bg-indigo-200 text-indigo-800 shadow-indigo-900/30;
  }

  .action-button.indigo:hover,
  input.indigo::file-selector-button:hover {
    @apply border-indigo-500 bg-indigo-300 shadow-indigo-900/50;
  }

  .action-button.violet,
  input.violet::file-selector-button {
    @apply border-violet-400 bg-violet-200 text-violet-800 shadow-violet-900/30;
  }

  .action-button.violet:hover,
  input.violet::file-selector-button:hover {
    @apply border-violet-500 bg-violet-300 shadow-violet-900/50;
  }

  .action-button.purple,
  input.purple::file-selector-button {
    @apply border-purple-400 bg-purple-200 text-purple-800 shadow-purple-900/30;
  }

  .action-button.purple:hover,
  input.purple::file-selector-button:hover {
    @apply border-purple-500 bg-purple-300 shadow-purple-900/50;
  }

  .action-button.fuchsia,
  input.fuchsia::file-selector-button {
    @apply border-fuchsia-400 bg-fuchsia-200 text-fuchsia-800 shadow-fuchsia-900/30;
  }

  .action-button.fuchsia:hover,
  input.fuchsia::file-selector-button:hover {
    @apply border-fuchsia-500 bg-fuchsia-300 shadow-fuchsia-900/50;
  }

  .action-button.pink,
  input.pink::file-selector-button {
    @apply border-pink-400 bg-pink-200 text-pink-800 shadow-pink-900/30;
  }

  .action-button.pink:hover,
  input.pink::file-selector-button:hover {
    @apply border-pink-500 bg-pink-300 shadow-pink-900/50;
  }

  .action-button.rose,
  input.rose::file-selector-button {
    @apply border-rose-400 bg-rose-200 text-rose-800 shadow-rose-900/30;
  }

  .action-button.rose:hover,
  input.rose::file-selector-button:hover {
    @apply border-rose-500 bg-rose-300 shadow-rose-900/50;
  }

  .action-button:disabled {
    @apply pointer-events-none border-neutral-100 bg-neutral-100 text-neutral-400 shadow-none;
  }
}

@layer utilities {
  .focusable:focus-visible,
  .focusable:has(:focus-visible) {
    @apply outline outline-2 outline-offset-1;
  }

  .focusable.slate:focus-visible,
  .focusable.slate:has(:focus-visible) {
    @apply outline-slate-600;
  }

  .focusable.gray:focus-visible,
  .focusable.gray:has(:focus-visible) {
    @apply outline-gray-600;
  }

  .focusable.zinc:focus-visible,
  .focusable.zinc:has(:focus-visible) {
    @apply outline-zinc-600;
  }

  .focusable.neutral:focus-visible,
  .focusable.neutral:has(:focus-visible) {
    @apply outline-neutral-600;
  }

  .focusable.stone:focus-visible,
  .focusable.stone:has(:focus-visible) {
    @apply outline-stone-600;
  }

  .focusable.orange:focus-visible,
  .focusable.orange:has(:focus-visible) {
    @apply outline-orange-600;
  }

  .focusable.amber:focus-visible,
  .focusable.amber:has(:focus-visible) {
    @apply outline-amber-600;
  }

  .focusable.yellow:focus-visible,
  .focusable.yellow:has(:focus-visible) {
    @apply outline-yellow-600;
  }

  .focusable.lime:focus-visible,
  .focusable.lime:has(:focus-visible) {
    @apply outline-lime-600;
  }

  .focusable.green:focus-visible,
  .focusable.green:has(:focus-visible) {
    @apply outline-green-600;
  }

  .focusable.emerald:focus-visible,
  .focusable.emerald:has(:focus-visible) {
    @apply outline-emerald-600;
  }

  .focusable.teal:focus-visible,
  .focusable.teal:has(:focus-visible) {
    @apply outline-teal-600;
  }

  .focusable.cyan:focus-visible,
  .focusable.cyan:has(:focus-visible) {
    @apply outline-cyan-600;
  }

  .focusable.sky:focus-visible,
  .focusable.sky:has(:focus-visible) {
    @apply outline-sky-600;
  }

  .focusable.blue:focus-visible,
  .focusable.blue:has(:focus-visible) {
    @apply outline-blue-600;
  }

  .focusable.indigo:focus-visible,
  .focusable.indigo:has(:focus-visible) {
    @apply outline-indigo-600;
  }

  .focusable.violet:focus-visible,
  .focusable.violet:has(:focus-visible) {
    @apply outline-violet-600;
  }

  .focusable.purple:focus-visible,
  .focusable.purple:has(:focus-visible) {
    @apply outline-purple-600;
  }

  .focusable.fuchsia:focus-visible,
  .focusable.fuchsia:has(:focus-visible) {
    @apply outline-fuchsia-600;
  }

  .focusable.pink:focus-visible,
  .focusable.pink:has(:focus-visible) {
    @apply outline-pink-600;
  }

  .focusable.rose:focus-visible,
  .focusable.rose:has(:focus-visible) {
    @apply outline-rose-600;
  }

  .focusable:focus-visible,
  .focusable:has(:focus-visible) {
    @apply outline-black;
  }

  .hazard-background {
    color: white;
    padding: 5px;
    background-image: repeating-linear-gradient(
      -55deg,
      #000,
      #000 20px,
      #ffb101 20px,
      #ffb101 40px
    );
  }

  .progress-green {
    --progress-color: #16a34a; /* the progress color */
  }

  .progress-violet-600 {
    --progress-color: #7c3aed; /* the progress color */
  }

  .progress-bg-neutral-200 {
    --progress-background: #e5e5e5; /* the background color */
  }

  .progress-bg-transparent {
    --progress-background: transparent; /* the background color */
  }

  .progress-bg-neutral-800 {
    --progress-background: #262626; /* the background color */
  }

  .progress-bg-violet-200 {
    --progress-background: #ddd6fe; /* the background color */
  }

  .progress-bg-white {
    --progress-background: #ffffff; /* the background color */
  }

  .progress-bg-black {
    --progress-background: #000000; /* the background color */
  }

  .progress-rounded-top {
    --progress-border-top-right-radius: 0.25rem;
    --progress-border-top-left-radius: 0.25rem;
  }

  .progress-rounded {
    --progress-border-bottom-right-radius: 0.25rem;
    --progress-border-bottom-left-radius: 0.25rem;
    --progress-border-top-right-radius: 0.25rem;
    --progress-border-top-left-radius: 0.25rem;
  }

  .progress-rounded-lg {
    --progress-border-bottom-right-radius: 0.5rem;
    --progress-border-bottom-left-radius: 0.5rem;
    --progress-border-top-right-radius: 0.5rem;
    --progress-border-top-left-radius: 0.5rem;
  }

  .w-huge {
    width: 100%;
  }

  @media screen(md) {
    .w-huge {
      width: min(80vw, 64rem);
    }
  }

  .checked-show {
    @apply hidden;
  }

  .checked .checked-show {
    @apply block;
  }

  .checked-hide {
    @apply block;
  }

  .checked-hidden {
    @apply block;
  }

  .checked .checked-hide {
    @apply hidden;
  }

  .checked .checked-hidden {
    @apply hidden;
  }

  .dropdown[data-state="open"] {
    animation:
      fadeIn 250ms ease forwards,
      scaleIn 250ms ease forwards;
  }

  .dropdown[data-state="closed"] {
    animation:
      fadeOut 250ms ease backwards,
      scaleOut 250ms ease backwards;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  @keyframes scaleIn {
    from {
      transform: scale(0.95);
    }
    to {
      transform: scale(1);
    }
  }

  @keyframes scaleOut {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(0.95);
    }
  }
}
