package components

templ Main() {
	<main class="flex flex-col flex-1 p-4 w-full sm:mx-auto sm:max-w-5xl" id="main-content">
		{ children... }
	</main>
}

templ Header() {
	<header class="flex flex-col items-center p-4 mb-4 border-b border-white">
		{ children... }
	</header>
}
