package components

templ Main() {
	<main class="flex flex-col flex-1 p-4 w-full sm:mx-auto sm:max-w-6xl" id="main-content">
		{ children... }
	</main>
}

templ Header() {
	<header class="flex absolute top-0 left-1/2 z-50 justify-center mt-24 transform -translate-x-1/2 sm:w-96 md:mt-8" id="page-title">
		{ children... }
	</header>
	<div class="h-32 md:h-20"></div>
}
